* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Mega", sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

header {
    text-align: center;
    padding: 1.5rem;
}

header h1 {
    font-size: 2.5rem;
    margin: 15px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 30px 10%;
    font-size: 1.2rem;
}

a {
    color: inherit;
}

#mission {
    display: flex;
    height: 300px;
    background-image: url(https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg);
}

.mission {
    text-align: center;
    margin: auto;
    background-color: #fff;
    width: 100%;
}

.mission h2 {
    font-size: 2rem;
}

.mission h2, .mission p {
    margin: 10px auto;
}

footer {
    padding: 1.5rem;
    text-align: center;
    line-height: 3;
}