* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend Mega", sans-serif;
    font-size: 20px;
    color: #000;
    background-color: #fff;
}

header {
    text-align: center;
    padding: 1.5rem;
}

header h1 {
    font-size: 2.5rem;
    margin: 15px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    margin: 30px 10%;
    font-size: 1.2rem;
}

a {
    color: inherit;
}

#mission {
    display: flex;
    height: 300px;
    margin-bottom: 3.5rem;
    background-image: url(https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/skyscrapers.jpg);
}

.mission {
    text-align: center;
    margin: auto;
    background-color: #fff;
    width: 100%;
}

.section-header {
    font-size: 2rem;
    margin-bottom: 20px;
}

.mission h2, .mission p {
    margin: 10px auto;
}

#portfolio {
    text-align: center;
}

.portfolio {
    width: 90%;
    margin: 0 auto;
}

.portfolio-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* width: 90%; */
    margin: 2% auto;
}

.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.portfolio-item img {
    height: 7rem;
    width: 10rem;
    margin: 0 1rem;
}

.portfolio-item span {
    min-width: 220px;
}

#invest-team {
    text-align: center;
    margin: 3.5rem 0;
}

.team {
    background-image: url(https://content.codecademy.com/PRO/independent-practice-projects/flexbox-business-site/img/blurred-road.jpg);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member {
    flex-basis: 30%;
    margin: 1rem;
    line-height: 1.3;
    color: #fff;
}

.team-member p {
    max-width:220px;
    margin: auto;
}

.team-member img {
    width: 200px;
    height: auto;
    margin: auto;
}

footer {
    padding: 1.5rem;
    text-align: center;
    line-height: 3;
}